# Dependency folders
node_modules/
dist/
build/

# Environment configurations and local keys
.env
.env.local
.doppler

# Operating System files
.DS_Store
Thumbs.db

# Network traces and database caches
*.pcapng
.data/
pgdata/

# Application generated keys (used in Week 2 and Week 12)
*.pem
*.crt
*.key

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
